html, body{
    height: 100%;
    margin: 0;
    font-family: 'Gotham Pro Regular', sans-serif;
    text-align: center;
    color: #4b4b4b;
    font-size: 14px;
    font-weight: 80;
    line-height: 1.75;
}

/*NAVIGATION*/
#logo{
    width: 160px;
    padding: 40px 0px;
}

.menu a{
    background-color: transparent;
    color: #4b4b4b;
    padding: 5px 25px;
    text-decoration: none;
}

#forsidebillede{
    width: 95%;
    margin-top: 35px;
}

#overskrift{
    font-weight: 20;
    font-size: 35px;
    color: black;
    font-family: 'Chronicle Display', sans-serif;
    margin: 20px;
}
.brødtekst{
    color: #4b4b4b;
    font-size: 16px;
}

#link{
    color: black;
    font-size: 16px;
    font-weight: 5;
}

#afstand{
    margin-top: 100px;
    margin-bottom: 50px;
}


/*MIN KONTO*/
.ikoner img{
    height: 20px;
    cursor: pointer;
    padding: 3px;
}

#søgeikon{
    padding-right: 7px;
}

.ikoner{
    float: right;
    margin-right: 30px;
}

.button{
    background-color: transparent;
    border: 0;
}

.button:hover{
    color: white;
}

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left:0; 
    top:0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.3);
}

.modal-content{
    background-color: whitesmoke;
    margin: 20% auto;
    padding: 20px;
    width: 60%;
    box-shadow: 0 2px 4px 0;
    animation-name: modalopen;
    animation-duration: 1s;
}

.closeBtn{
    color: #ccc;
    float: right;
    font-size: 25px;
}

.closeBtn:hover,.closeBtn:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@keyframes modalopen{
    from{opacity: 0;}
    to{opacity: 1;}
}

.contact-form-text{
    width: 50%;
    box-sizing: border-box;
    margin: 10px 0;
    padding: 15px 20px;
    outline: none;
    background-color: #f0eeee;
    border: 0px;
    transition: 0.5s;
    font-family: 'Gotham Pro Regular', sans-serif;
}
.contact-form-knap{
    border: 0;
    width: 50%;
    background: black;
    color: white;
    font-size: 14px;
    padding: 10px 50px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 20px;
    margin-bottom: 50px;
}

/*DIASSHOW*/
#items_container {
    display: flex;
    justify-content: center; 
 
  }
.item{
    float: center; 
    padding: 10px;
    margin: 5px;
}

.item > img{
    width: 440px;
    height: auto;

}
 

.item > span{
    display: block;
    text-align: center;
    margin-top: 10px;
    
}

.item h1{
    font-weight: 20;
    font-size: 20px;
    color: black;
    font-family: 'Chronicle Display', sans-serif;
    margin-top: 15px;
    text-align: left;
}

.item h2{
    font-size: 20px;
    font-family: 'Gotham Pro Regular', sans-serif;
    text-align: left;
    font-weight: 80;
    margin-top: 5px;
}