html, body{
    height: 100%;
    margin: 0;
    font-family: 'Gotham Pro Regular', sans-serif;
    text-align: center;
    color: #4b4b4b;
    font-size: 14px;
    font-weight: 80;
}

#logo{
    width: 160px;
    padding: 40px 0px;
}

.menu a{
    background-color: transparent;
    color: #4b4b4b;
    padding: 5px 25px;
    text-decoration: none;
}

#forsidebillede{
    width: 95%;
    margin-top: 35px;
}

#overskrift{
    font-weight: 20;
    font-size: 35px;
    color: black;
    font-family: 'Chronicle Display', sans-serif;
    margin: 20px;
}
.brødtekst{
    color: #4b4b4b;
    font-size: 16px;
}

#link{
    color: black;
    font-size: 16px;
    font-weight: 5;
}

#afstand{
    margin-top: 125px;
}