/* styles.css */
/* CSS-styling kan tilpasses efter dine ønsker */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  
}

h1 {
    text-align: center;
}

.produkt-liste {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.produkt {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    text-align: center;
    }
    

.kurv {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

.produkt-billede {
    max-width: 20%;
    height: auto;
}

.modal-content {
    background-color: white;
    width: 30%;
    float: right;
}