.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  min-height: 100vh;
  overflow: hidden;
}

.wrapper .carousel1 {
 display: flex;
 scroll-behavior: smooth;
 overflow: hidden;
}

.carousel1 img {
 height: 407px;
 object-fit: cover;
 width: auto;
 padding: 0px 15px 15px;
}

.wrapper i:first-child{
  left: 0px;
  display: none;
}
.wrapper i:last-child{
  right: 0px;
}

.wrapper i {
   background: white;
   height: 50px;
   width: 50px;
   cursor: pointer;
   font-size: 1.5rem;
   text-align: center;
   line-height: 50px;
   border-radius: 50%;
   position: absolute;
}
#left {
  transition: transform 0.3s ease;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
}

#left:hover {
  transform: translateY(-3px);
  box-shadow: 0 0 transparent, 0 0 transparent, 0 0 15px -3px #0000001a, 0 4px 6px -2px #0000000d;
}

#right {
    transition: transform 0.3s ease;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  }
  
  #right:hover {
    transform: translateY(-3px);
    box-shadow: 0 0 transparent, 0 0 transparent, 0 0 15px -3px #0000001a, 0 4px 6px -2px #0000000d;
  }

h2 {
  font-size: 20px;
  padding: 0px 15px 15px;
  margin: 0px;
  margin-top: -5px;
  margin-bottom: -10px; 

}

h3 {
  font-size: 15px;
  padding: 0px 15px 15px;
  margin: 0px;
}
