.items_container{
    align-items: center;
    text-align: center;
   
}
.item{
    float: left; 
    padding: 10px;
    margin: 5px;
}

.item > img{
    width: 430px;
    height: auto;

}
 

.item > span{
    display: block;
    text-align: center;
    margin-top: 10px;
    
}

