#items_container {
    display: flex;
    justify-content: center; 
 
  }
.item{
    float: center; 
    padding: 10px;
    margin: 5px;
}

.item > img{
    width: 440px;
    height: auto;

}
 

.item > span{
    display: block;
    text-align: center;
    margin-top: 10px;
    
}

.item h1{
    font-size: 25px;
    margin-top: 5px;
    font-family: 'Chronicle Display Regular', serif;
}

.item h2{
    font-size: 20px;
    font-family: 'Gotham Pro Regular', sans-serif;

}

